<div class="container">
    <div class="left-container">
        <div class="left-content">
            <div class="header">The Benefits of Reading!</div>
            <br>
            <span>Reading is one of the single most powerful workouts for the brain, according to research done on the topic.</span>
            <br>
            <br>
            <span>The National Library of Medicine has confirmed via MRI scans that reading stimulates and strengthens the complex neurological network within the human brain.</span>
            <br>
            <br>
            <span>Some of the ways it does this are:</span>
            <br>
            <br>
            <span>Increasing vocabulary and comprehension</span>
            <br>
            <br>
            <span>Increasing the ability to empathize</span>
            <br>
            <br>
            <span>Increasing concentration and memory retention</span>
            <br>
            <br>
            <span>Increasing the amount and depth of knowledge held</span>
            <br>
            <br>
            <span>Increasing critical thinking and analytical abilities</span>
        </div>
    </div>
    <div class="right-container">
        <div class="right-content">
            <img src="../../assets/brain.png" width="440px" alt="Benefits infographic">
        </div>
    </div>
</div>
