<div class="container">
    <div class="left-container">
        <div class="left-content">
            <div class="header">WELCOME!</div>
            <br>
            <span>Here at the Advancement of Reading Association (ARA) we firmly believe that reading is one of the most beneficial things someone can do for their brain health.  We go into more details about the benefits of reading in the About section.</span>
            <br>
            <br>
            <span>It is our sincere belief that there is the perfect type of book out there for every person, even those who have never considered themselves avid readers.</span>
            <br>
            <br>
            <span>Whether you find enjoyment in fiction or non-fiction, horror or comedy, we are confident that by analyzing your favorite movie we can recommend a similar book that will open your eyes to the wonderful world of written masterpieces.</span>
            <br>
            <br>
            <span>We are so happy to have you here.  Feel free to take a look around; learn about the benefits of reading, review our analytics data to better understand our recommendations, browse our catalog of books that we us for our recommendations, or try out our recommender for yourself to jumpstart your next reading venture today!</span>
        </div>
    </div>
    <div class="right-container">
        <div class="right-content">
            <img src="../../assets/book.png" width="600px" alt="Book image">
        </div>
    </div>
</div>
